{% extends "base.html" %}
{% block title %}
    Моя учёба!
{% endblock %}
{% block text %}
            <p>
                <b>{{universitet.0}}</b><br>
                {{datestart.0}} - {{dateend.0}}<br>
                Специальность: <b>{{specials.0}}</b><br>
                Сайт: {{site.0}}<br><br>
                <b>{{universitet.1}}</b><br>
                {{datestart.1}} - {{dateend.1}}<br>
                Специальность: <b>{{specials.1}}</b><br>
                Сайт: {{site.1}}
            </p>
            <img src="/static/teach.jpg"/>
{% endblock %}