{% extends "base.html" %}
{% block title %}
    Моя работа!
{% endblock %}
{% block text %}
            <p>
                2006 г. - 2010 г. <b>{{organization.0}}</b> <br>
                Направление: <b>Телекомуникации</b> <br>
                Должность: <b>{{position.0}}</b> <br><br>

                2010 г. - по настоящее время <b>{{organization.1}}</b> <br>
                Направление: <b>Телекомуникации</b> <br>
                Должность: <b>{{position.1}}</b> <br><br>
            </p>
            <img src="/static/work.jpg"/>
{% endblock %}