{% extends "base.html" %}
{% block title %}
<div class="center">Моя учёба</div>
{% endblock %}
{% block text %}
    <div>
    {% for teach in place_of_teach %}
        <div>

               <b>{{teach.universitet}}</b><br>
               {{teach.datestart}} - {{teach.dateend}}<br>
               Специальность: <b>{{teach.specials}}</b><br>
               Сайт: {{teach.site}}<br>
               <img src="{{teach.image.url}}" height="100"/><br>

        </div>
        <div class='inline'></div>
    {% endfor %}
    </div>
    <img class="big" src="/static/teach.jpg"/>
{% endblock %}