<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>Обо мне!</h1>
    <div>
        <div class="menu">
            <div><a href="/" target="_parent">Главная</a></div>
            <div><a href="/teach" target="_parent">Учёба</a></div>
            <div><a href="/work" target="_parent">Работа</a></div>
        </div>
        <div class="text">
            <p>
                По жизни стараюсь постоянно учиться, достигать поставленных целей. <br><br>

                За время работы сменил много сфер деятельности от менеджера по
                продажам до научного сотрудника. <br><br>

                Первое выслее образование получил техническое. <br>
                Вторым образованием было финансовое, но не пошло и отучившись 1.5 года оставил
                обучение из-за потери интереса к изучаемому направлению.
            </p>
            <img src="/static/face.jpg"/>
        </div>      
    </div>
</body>
</html>