
body {
    background: #f8f8f8;
}

h1 {
    font-size: 23px;
    font-style: italic;
    text-align: left;
    color: darkslateblue;
    font-weight: bold;
}

.menu {
	text-decoration: none;
    list-style: none;
    line-height: 20px;
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    color: darkred;
}

.menu a:hover {
    color: red;
}
.menu a {
    font-weight: 300;
    text-decoration: none;
    color: darkslateblue;
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
}

.menu div {
    line-height: 30px;
}
