{% extends "base.html" %}
{% block title %}
    <div class="center">Обо мне</div>
{% endblock %}
{% block text %}
    <div>
        <div class="jastify">
            По жизни стараюсь постоянно учиться, достигать поставленных целей. <br><br>

            За время работы сменил много сфер деятельности от менеджера по
            продажам до научного сотрудника. <br><br>

            Первое выслее образование получил техническое. <br>
            Вторым образованием было финансовое, но не пошло и отучившись 1.5 года оставил
            обучение из-за потери интереса к изучаемому направлению.
        </div>
    </div>
    <img class="big" src="/static/face.jpg"/>
{% endblock %}
