{% extends "base.html" %}
{% block title %}
<div class="center">Моя работа</div>
{% endblock %}
{% block text %}
    <div>
        {% for work in place_of_work %}
        <div>
            <b>{{work.organization}}</b> <br>
            {{work.datestart}} - {{work.dateend}}<br>
            Направление: {{work.sfere}}</b> <br>
            Должность: <b>{{work.position}}</b> <br>
            site: <b>{{work.site}}</b> <br>
            <img src="{{work.image.url}}" height="100"/><br>
        </div>
        <div class='inline'></div>
        {% endfor %}
    </div>
    <img class="big" src="/static/work.jpg"/>
{% endblock %}