<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Работа</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>Моя работа!</h1>
    <div>
        <div class="menu">
            <div><a href="/" target="_parent">Главная</a></div>
            <div><a href="/teach" target="_parent">Учёба</a></div>
            <div><a href="/work" target="_parent">Работа</a></div>
        </div>
        <div class="text">
            <p>
                2006 г. - 2010 г. <b>ОАО "ПетерСтар"</b> <br>
                Направление: <b>Телекомуникации</b> <br>
                Должность: <b>Торговый Представитель</b> <br><br>

                2010 г. - по настоящее время <b>Orange Business Service</b> <br>
                Направление: <b>Телекомуникации</b> <br>
                Должность: <b>Торговый Представитель</b> <br><br>
            </p>
            <img src="/static/work.jpg"/>
        </div>
    </div>
</body>
</html>