<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>
        {% block title %}
        {% endblock %}
    </h1>
    <div>
        <div class="menu">
            <div><a href="/" target="_parent">Главная</a></div>
            <div><a href="/teach" target="_parent">Учёба</a></div>
            <div><a href="/work" target="_parent">Работа</a></div>
        </div>
        <div class="text">
            {% block text %}
            {% endblock %}
        </div>
    </div>
</body>
<footer>
    <p>Copyright &copy; {% now "Y" %} About Me | Обо мне</p>
</footer>

</html>